.mapContainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 12rem;
    background-color: #ccc;

}



.title {
    font-size: 6rem;
    overflow: hidden;
}
.contact{
    font-size: 2rem;
    overflow: hidden;
    padding: 1rem;
}

.icons{
    font-size: 2rem;
    overflow: hidden;
    padding: 1rem;

}

.map{
    width: 60%;
    height: 450px;
}

.icon{
    font-size: 2rem;
    color: #fff;
    margin: 0 2rem;
    overflow: hidden;
    text-decoration: none;
}



@media screen and (max-width:900px){

.map{
    width: 100%;
    
}
}
@media screen and (max-width:768px){
    .mapContainer{
        padding: 6rem;
    }
    
   

    }

    @media screen and (max-width:500px){
        .mapContainer{
            padding: 2rem;
        }
        .map{
            height: 350px;
        }
        
       
    
        }
    
